@model Action_List.Models.Projeto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Confirma a exclusão deste Projeto?</h3>
<div class="form-actions">
    <input type="submit" value="Delete" class="btn btn-outline-danger"/>
</div>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

    </dl>

    @*@using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Back to List", "Index")
    }*@
</div>
